@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}
:root {
  --grayBackground: rgba(190, 186, 186, 0.534);
  --fogBackground: rgba(0, 0, 0, 0.1);
  --headerColor: #2a9d8f;
  --jsColor: rgba(228, 216, 42, 0.8);
  --cssColor: rgba(31, 112, 235, 0.8);
  --htmlColor: rgba(255, 115, 0, 0.8);
}
.add__form {
  display: none;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  padding-top: 150px;
  top: -8%;
  width: 100%;
  height: 108%;
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 1rem;
  z-index: 3;
}
.add__form--show {
  display: flex;
}
.backarrow {
  opacity: 0;
  pointer-events: none;
}
.backarrow--show {
  opacity: 1;
  pointer-events: all;
  transform: translateX(150px);
}
body {
  width: 100vw;
  position: relative;
}
.buttons__wraper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #05668d;
  padding: 10px 0;
  margin-top: 15px;
  border-radius: 10px;
}
.buttons__wraper button {
  min-width: 60px;
  padding: 10px 5px;
  border-radius: 10px;
  border: none;
  margin: 0 10px;
  background-color: #f0f3bd;
  box-shadow: 3px 3px 7px #000000;
}
.code__block{
  width: 310px;
  height: 150px;
  padding: 10px;
  margin: 0;
  overflow: scroll;
}
.code__block--expand{
  height: max-content;
}
.fog__background {
  position: absolute;
  top: 60px;
  left: 210px;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease-out;
  z-index: 1;
}
.fog__background--show {
  opacity: 1;
  pointer-events: all;
}
.form__buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form__buttons button {
  border: none;
  padding: 15px 20px;
  min-width: 75px;
  border-radius: 10px;
  margin: 0 15px;
}
.form__buttons > button:nth-child(1) {
  background-color: #ff006e;
}
.form__buttons > button:nth-child(2) {
  background-color: #3a86ff;
}

.form__wraper {
  /* background-color: #ffffff; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
}
.header__wraper {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  background-color: var(--headerColor);
  top: 0;
  left: 0;
  width: 100vw;
  height: 60px;
  z-index: 2;
}

.hamburger--hide {
  display: none;
}
.header__wraper > i {
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
}
.input__wraper {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 12px 0;
  padding: 25px 0 15px 0;
  background-color: #8338ec;
  border-radius: 10px;
}
.input__wraper input {
  color: #ffffff;
  background: none;
  border: none;
  width: 80%;
}
.input__wraper label {
  position: absolute;
  color: #ffffff;
  transition: all 0.5s ease-out;
}
.input__wraper input:focus + label {
  transform: translateY(-25px);
}
.input__wraper input:valid + label {
  transform: translateY(-25px);
}

.input__wraper input:focus {
  outline: none;
}
.language__list {
  display: none;
  list-style: none;
}
.language__list li {
  cursor: pointer;
  padding: 10px;
  margin: 5px 0;
  border-radius: 10px;
  font-size: 1.25rem;
  text-align: center;
  box-shadow: 5px 5px 10px var(--grayBackground);
}
.language__list li:nth-of-type(1) {
  background-color: var(--cssColor);
}
.language__list li:nth-of-type(2) {
  background-color: var(--htmlColor);
}
.language__list li:nth-of-type(3) {
  background-color: var(--jsColor);
}

.login__wraper {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 60px;
  z-index: 3;
  background-color: var(--grayBackground);
}
.login__wraper--show {
  display: block;
}
.login__wraper form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.nav__wraper {
  position: absolute;
  left: 0;
  top: 60px;
  width: 210px;
  height: 100%;
  transform: translateX(-210px);
  transition: all 0.5s ease-out;
  z-index: 1;
}
.nav__wraper--show {
  transform: translateX(0);
  background-color: var(--grayBackground);
}
.nav__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  list-style: none;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease-out;
}
.nav__list--show {
  opacity: 1;
  pointer-events: all;
}
.navList__element {
  width: 85%;
  margin: 5px 0;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 5px 5px 10px var(--grayBackground);
}
.navList__element:nth-child(1) {
  background-color: #e76f51;
}
.navList__element:nth-child(2) {
  background-color: #f4a261;
}
.navList__element:nth-child(4) {
  background-color: #e9c46a;
}
.navList__element:nth-child(5) {
  background-color: #2a9d8f;
}
.navi {
  position: relative;
}
.output {
  padding-top: 70px;
}
.radio__wraper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #02c39a;
  margin-bottom: 15px;
  border-radius: 10px;
}
.radio__wraper input {
  display: none;
}
.radio__wraper label {
  padding: 5px 10px;
  box-shadow: 5px 5px 10px gray;
  background-color: #f0f3bd;
  min-width: 53px;
  margin: 10px 5px;
  text-align: center;
  border-radius: 10px;
}
.radio__wraper input[type="radio"]:checked + label {
  background-color: #aa78a6;
  color: #ffffff;
}
.radio__wraper label:nth-of-type(1):checked {
  background-color: var(--cssColor);
}
.show {
  display: block;
  opacity: 1;
}
.snippet__container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 330px;
  height: 200px;
  background-color: var(--jsColor);
  margin: 25px auto;
  padding-top: 10px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}
.snippet__container--expand {
  height: max-content;
}

.snippet__text {
  min-height: 150px;
  height: 150px;
  width: 310px;
  background-color: #ffffff;
  margin: 0;
  overflow: scroll;
}
.snippet__text--expand {
  height: max-content;
}
.tags__wraper {
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: #028090;
  border-radius: 10px;
  padding: 10px 5px;
  margin-top: 15px;
}
.tags__wraper label {
  padding: 0 5px;
}
.tags__wraper i {
  background-color: #e9d2c0;
  padding: 5px 6px;
  margin-right: 5px;
  border-radius: 50%;
}
.tags__wraper input {
  width: 85%;
  padding: 5px;
}
.textarea__wraper {
  background-color: #00a896;
  padding-bottom: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.textarea__wraper i {
  text-align: center;
  background-color: #e9d2c0;
  padding: 7px 5px;
  border-radius: 50%;
  margin: 5px 0;
}
.textarea__wraper label {
  display: block;
  text-align: center;
  padding: 5px;
}
.textarea__wraper textarea {
  margin: 0 5px;
  padding: 3px;
  border: 2px solid var(--grayBackground);
  border-radius: 3px;
}

@media(min-width: 560px){
.snippet__container pre{
  width: 530px;
  overflow: hidden;
}
.snippet__container{
  width: 550px;
}
}