@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}
:root {
  --grayBackground: rgba(190, 186, 186, 0.534);
  --fogBackground: rgba(0, 0, 0, 0.1);
  --headerColor: #2a9d8f;
  --jsColor: rgba(228, 216, 42, 0.8);
  --cssColor: rgba(31, 112, 235, 0.8);
  --htmlColor: rgba(255, 115, 0, 0.8);
}
.backarrow {
  opacity: 0;
  pointer-events: none;
}
.backarrow--show {
  opacity: 1;
  pointer-events: all;
  transform: translateX(150px);
}
body {
  width: 100vw;
}
.fog__background {
  position: absolute;
  top: 55px;
  left: 210px;
  width: 100%;
  height: 100vh;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease-out;
  z-index: 1;
}
.fog__background--show {
  opacity: 1;
  pointer-events: all;
}
.header__wraper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--headerColor);
  top: 0;
  left: 0;
  width: 100vw;
  height: 55px;
}

.hamburger--hide {
  display: none;
}
.header__wraper > i {
  position: absolute;
  top: 10px;
  left: 10px;
}
.language__list {
  display: none;
  list-style: none;
}
.language__list li {
  cursor: pointer;
  padding: 10px;
  margin: 5px 0;
  border-radius: 10px;
  font-size: 1.25rem;
  text-align: center;
  box-shadow: 5px 5px 10px var(--grayBackground);
}
.language__list li:nth-of-type(1) {
  background-color: var(--cssColor);
}
.language__list li:nth-of-type(2) {
  background-color: var(--htmlColor);
}
.language__list li:nth-of-type(3) {
  background-color: var(--jsColor);
}
.language__tag {
  padding-top: 10px;
}

.nav__wraper {
  position: absolute;
  left: 0;
  top: 55px;
  width: 210px;
  height: 100vh;
  transform: translateX(-150px);
  transition: all 0.5s ease-out;
}
.nav__wraper--show {
  transform: translateX(0);
  background-color: var(--grayBackground);
}
.nav__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  list-style: none;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease-out;
}
.nav__list--show {
  opacity: 1;
  pointer-events: all;
}
.navList__element {
  width: 85%;
  margin: 5px 0;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 5px 5px 10px var(--grayBackground);
}
.navList__element:nth-child(1) {
  background-color: #e76f51;
}
.navList__element:nth-child(2) {
  background-color: #f4a261;
}
.navList__element:nth-child(4) {
  background-color: #e9c46a;
}
.navi {
  position: relative;
}
.show {
  display: block;
  opacity: 1;
}
.snippet__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 300px;
  height: 200px;
  background-color: var(--jsColor);
  margin: 25px auto;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}
.snippet__text {
  height: 150px;
  width: 280px;
  background-color: #ffffff;
  padding: 10px;
}
