@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}
:root {
  --grayBackground: rgba(190, 186, 186, 0.534);
  --fogBackground: rgba(0, 0, 0, 0.1);
  --headerColor: #2a9d8f;
}
.backarrow {
  opacity: 0;
  pointer-events: none;
}
.backarrow--show {
  opacity: 1;
  pointer-events: all;
  transform: translateX(150px);
}
body > h1 {
  text-align: center;
}
.fog__background {
  position: absolute;
  top: 35px;
  left: 190px;
  width: 190px;
  height: 100vh;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease-out;
  z-index: 1;
}
.fog__background--show {
  opacity: 1;
  pointer-events: all;
}
.header__wraper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--headerColor);
  top: 0;
  left: 0;
  width: 100vw;
  height: 45px;
}
.hamburger {
  position: absolute;
  right: 7px;
  top: 3px;
}
.hamburger--hide {
  display: none;
}
.header__wraper > i {
  position: absolute;
  bottom: 20px;
  left: 40%;
}
.languages {
  position: absolute;
  width: 100vw;
  padding: 40px 40px 0 40px;
  text-align: center;
  transform: translateY(-145%);
  transition: all 0.3s ease-out;
  cursor: pointer;
}
.languages p {
  margin: 0 auto; 
  width: 50%;
}
.languages p:hover {
  background-color: var(--grayBackground);
}
.languages--show {
  /* top: 45px; */
  transform: translateY(0);
  background-color: var(--fogBackground);
}
.languages:hover {
  transform: translateY(0);
  background-color: var(--grayBackground);
  border: none;
}
.languages p:last-child {
  margin-top: 10px;
  margin-bottom: 6px;
}
.nav__wraper {
  position: absolute;
  left: 0;
  top: 45px;
  width: 210px;
  height: 100vh;
  transform: translateX(-150px);
  transition: all 0.5s ease-out;
}
.nav__wraper--show {
  transform: translateX(0);
  background-color: var(--grayBackground);
}
.navi {
  position: relative;
}
.tiles {
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  grid-template-columns: 100%;
  grid-template-rows: repeat(3, 70px);
  position: absolute;
  width: 100%;
  top: 60px;
  left: 0;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease-out;
}
.tiles--show {
  /* display: grid; */
  opacity: 1;
}
.tile-one {
  grid-column: 1/2;
  grid-row: 1/2;
  border: none;
  border-radius: 10px;
  background-color: #e76f51;
  margin: 5px 10px;
  box-shadow: 5px 5px 10px #000000a9;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.tile-two {
  grid-column: 1/2;
  grid-row: 2/3;
  border: none;
  border-radius: 10px;
  background-color: #f4a261;
  margin: 5px 10px;
  box-shadow: 5px 5px 10px #000000a9;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.tile-three {
  grid-column: 1/2;
  grid-row: 3/4;
  border: none;
  border-radius: 10px;
  background-color: #e9c46a;
  margin: 5px 10px;
  box-shadow: 5px 5px 10px #000000a9;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
